section{
    margin-top: 1.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.calendar_race{
    width: 30vw;
    margin: 1vw 1.3vw;
    border-top: 5px solid #4C4C4C;
    border-right: 5px solid #4C4C4C;
    border-bottom: 5px solid #4C4C4C;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    min-height: 10vw;
}

.calendar_race img{
    display: block;
    margin: 0px auto
}

.action_buttons{
    margin: 1vw 0;
    padding: 5px 10px;
    border-radius: 50px;
    max-width: fit-content;
    margin-inline: auto;
}

.action_buttons a{
    color: #1B1B1B;
    background-color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 50px;
}

.action_buttons a:hover{
    color: #FFFFFF;
    background-color: #00A99D;
    padding: 5px 10px;
    border-radius: 50px;
}

.disabled {
    color: #1B1B1B;
    background-color: #4C4C4C;
    padding: 5px 10px;
    border-radius: 50px;
    pointer-events: none; /* Empêche les clics */
    opacity: 0.5; /* Donne un effet visuel de désactivation */
    cursor: not-allowed; /* Change le curseur pour indiquer que l'élément est désactivé */
}

